
---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Design";
---

<BaseLayout pageTitle = {pageTitle}>
    <section>
        <h2>Projects</h2>
        <h3>O Waylords: RPG Discord Bot</h3>
        <p>O Waylords is a Discord bot built to facilitate the creation and management 
            of RPG-style Discord servers. It offers a comprehensive suite of tools for 
            server owners and members to enhance their roleplaying experience, including 
            server templates, character sheet management, and roleplay event organization.</p>
        <h3>Personal Portfolio</h3>
        <p>This website was designed entirely by me (without the use of AI!).</p>
        
    </section>
</BaseLayout>