---
const pageTitle = "Home";
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle = {pageTitle}>
	<section>
		<p><em>poet | web & game designer</em></p>
	</section>
</BaseLayout>