---
const pageTitle = "Home";
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle = {pageTitle}>
	<section>
		<img src = "/img/image.png" alt = "Dylan Headley headshot photo" width = 300/>
	</section>
	<section>
		<h2>Dylan Headley</h2>
		<p><em>"But to make yourself feel nothing, so as not to feel anything? What a waste."</em></p>
	</section>
</BaseLayout>