
---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Writing Portfolio";
---

<BaseLayout pageTitle = {pageTitle}>
    <section>
        <h2>Publications</h2>
        <p>"Chop Flop" <em>The Nowhere Review</em></p>
        <p>"Poopy Doopy on the YouTubey" <em>Unpublished Quarterly</em></p>
    </section>
</BaseLayout>