
---
import Navigation from '../components/Nav.astro';
---

<header>
    <section>
		<img src = "/img/image.png" alt = "Dylan Headley headshot photo" width = 400/>
        Dylan Headley
	</section>
    </section>
    <Navigation />
</header>